
{% extends 'base.html.twig' %}

		{% block body %}
		
		<section class="features-section " >
		<div class="container overflow-hidden" >
			

				
					<h1 class="text-center fw-bolder text-dark p-5 mb-4">EURO 2024</h1>
					
						
						
							<div>
								<img src="{{ asset('euro_teams.jpeg') }}" class=" img-fluid mx-auto d-block  "id="euro" alt="euro" />
							</div>
						
						
				
				
				
				<div class="col-6">
					<h1 class="text-center fw-bolder text-dark p-5 mb-4">Championnats</h1>
					<div class="row article-card mb-4">
						
						<div class="col-xs-12 col-md-6 mb-4">
							<div>
								<img src="{{ asset('Flag_France.png') }}" class="img-fluid d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">France</a></h2>
									<p class="mb-3">Titatadada</p>
									
									<div class="section-btn m-4">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">Lire la suite</a>
									</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 mb-4">
							<div>
								<img src="{{ asset('Flag_Espagne.png') }}" class="img-fluid d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">Espagne</a></h2>
									<p class="mb-3">Titatadada</p>
									
									<div class="section-btn mt-3">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">Lire la suite</a>
									</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 mb-4">
							<div>
								<img src="{{ asset('Flag_Angleterre.png') }}" class="img-fluid d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">Angleterre</a></h2>
									<p class="mb-3">exemple de BLABLA</p>
									
									<div class="section-btn mt-3">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">Lire la suite</a>
									</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 mb-4">
							<div>
								<img src="{{ asset('Flag_Allemagne.png') }}" class="img-fluid d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">Allemagne</a></h2>
									<p class="mb-3">Titatadada</p>
									
									<div class="section-btn mt-3">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">Lire la suite</a>
									</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 mb-4">
							<div>
								<img src="{{ asset('Flag_Italie.png') }}" class="img-fluid d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">Italie</a></h2>
									<p class="mb-3">Titatadada</p>
									
									<div class="section-btn mt-3">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">Lire la suite</a>
									</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-6 mb-4">
							<div>
								<img src="{{ asset('Flag_Portugal.png') }}" class="img-fluid d-block my-4 pt-5 "id="flag" alt="flag" />
								<h2 class="h3 mb-3"><a class="link-dark text-decoration-none" href="#">Portugal</a></h2>
									<p class="mb-3">Titatadada</p>
									
									<div class="section-btn mt-3">
										<a class="btn btn-rounded btn-quiz" data-mdb-ripple-color="white" data-mdb-ripple-init="" href="#">Lire la suite</a>
									</div>
							</div>
						</div>

					</div>
				</div>
			
		</div>
		</section>
		
		{% endblock %}

		